.App {
  text-align: center;
}

.icon {
  color: #444;
  padding: 5px;
}
.icon:hover {
  cursor: pointer;
}

.Modal {
  position: fixed;
  background-color: rgba(0,0,0,.8);
  z-index: 201;
  width: 330px;
  border: none;
  border-radius: 2%;
  padding: 20px;
  left: 10%;
  top: 25%;
  box-sizing: border-box;
  animation-name: modal;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes modal {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 600px) {
  .Modal {
    left: calc(60% - 330px);
  }
}
